export const AppConf = {
    appHost: 'http://localhost:3000', // アプリのトップページのURL
    appName: 'YourSiteName', // アプリの名前(タイトル)
    meta: { // head内のmetaタグ
        description:`このサイトの説明`,
        keywords:`キーワード1, キーワード2`, 
    },
    gtmId: null, // Google Tag Manager ID
    db: {
        host: 'localhost:7700', // MeiliSearchのホスト名
        key: 'YourMeiliMasterKey', // MeiliSearchのマスターキー
        index: 'feed', // MeiliSearchのインデックス名
    },
    sqlite: process.cwd() + '/database/feed.db', // SQLite3のデータベースファイルのパス
    logDir: __dirname + '/../log', // ログファイルの保存先
    sleeping: [0, 6], // クローラーのスリープ時間(時)
}

export default AppConf;