const Rss = {
    sleeping: [0, 6], //　夜間など更新頻度を下げる時間帯 [開始時間, 終了時間]、この間はすべて1時間おきになる
    sites: [
        {
            feed: "サイト1のRSSのURL", //　https://xxx.com/index.rdfなどのRSSのURLを記載
            frequency: 5  // 更新頻度（分）
        },
        {
            feed: "サイト2のRSSのURL",
            frequency: 0 // 0の場合は毎時0分(１時間おき)に更新
        },
        {
            feed: "サイト3のRSSのURL",
            frequency: 30,
            skip : "サイト閉鎖のため" // skipを指定すると更新対象から除外される（値は何でもよい）
        }
    ]
};
export default Rss;